.CarImgContainer {
    font-family: Arial, sans-serif;
    color: #0b1259;
}

.CarType {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(24, 48, 255, 0.08);
    border-radius: 15px;
    margin: 10px auto;
    width: 80%;
    height: 220px;
    font-size: 20px;
    padding-left: 20px;
}

.CarImg {
    border: 1px #0b1259 solid;
    width: 15%;
    height: auto;
    padding: 5px;
    background: #fff;
}

.CarInfo {
    width: 55%;
}

@media screen and (max-width: 1200px) {
    .CarInfo {
        width: 45%;
    }

}

@media screen and (max-width: 768px) {
    .CarType {
        width: 100%;
    }
    .rentsum {
        flex-direction: column;
        width: 100%;
    }

    .rentmap {

    }

}

@media screen and (max-width: 650px) {
    .CarImg {
        display: none;
    }

    .CarInfo {
        margin-left: 0;
        font-size: 16px;
        width: 100%;

    }

    .CarType {
        height: 240px;
        padding: 0 10px;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media screen and (max-width: 450px) {
    .CarType {
        height: 250px;
    }
}

#show.ShowLess {
    padding: 20px;
    margin: 10px auto;
    width: 250px;
    color: #FFF;
/ / background-color: coral;
    font-size: 26px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s;
}

#show.ShowLess {
    background-color: rgba(89, 0, 8, 0.8);
}

#show.ShowLess:hover {
    background-color: rgba(89, 0, 8, 0.9);
    transition: all .4s;
}

.ShowMore {
    text-align: center;
}