.CarImgContainer {
    font-family: Arial, sans-serif;
    color: #0b1259;
}

.buttonSection {
    width: 18%;
}

.CarType {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(24, 48, 255, 0.08);
    border-radius: 15px;
    margin: 20px auto;
    width: 80%;
    min-height: 150px;
    font-size: 20px;
    padding-left: 20px;
}

.CarImg {
    border: 1px #0b1259 solid;
    width: 15%;
    height: auto;
    padding: 5px;
    background: #fff;
}

.CarInfo {
    width: 55%;
}

#show.ShowLess {
    display: block;
    padding: 13px;
    margin: 20px auto;
    width: 50%;
    color: #FFF;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s;
}

#show.ShowLess {
    background-color: rgba(89, 0, 8, 0.8);
}

#show.ShowLess:hover {
    background-color: rgba(89, 0, 8, 0.9);
    transition: all .4s;
}



@media screen and (max-width: 1200px) {
    .CarInfo {
        width: 45%;
    }

    .buttonSection {
        width: 30%;
    }

}

@media screen and (max-width: 881px) {
    .CarType,
    #show.ShowLess {
        width: 80%;
    }

    .rentsum {
        flex-direction: column;
        width: 100%;
    }

    .buttonSection {
        width: 50%;

    }

}

@media screen and (max-width: 650px) {
    .CarImg {
        display: none;
    }

    .CarInfo {
        margin-left: 0;
        font-size: 20px;
        width: 100%;
        height: auto;

    }

    .CarType {
        /*height: auto;*/
        padding: 0 10px;
        flex-direction: column;
        justify-content: space-around;
    }
}



@media screen and (max-width: 450px) {

    .buttonSection {
        width: 100%;
        display: flex;
        align-items: flex-end;

    }
    .buttonSection.ButtonBlue {

    }
}

#show.ShowLess {
    padding: 20px;
    margin: 10px auto;
    width: 250px;
    color: #FFF;
/ / background-color: coral;
    font-size: 26px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s;
}

#show.ShowLess {
    background-color: rgba(89, 0, 8, 0.8);
}

#show.ShowLess:hover {
    background-color: rgba(89, 0, 8, 0.9);
    transition: all .4s;
}

.ShowMore {
    text-align: center;
}

