#show {
    background-color: #0b1259;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.5em;
    border-radius: 5%;
    transition: color 0.2s;
}

#show:hover {
    color: #fff;
    transition: color 0.2s;
}
