/*.Confirm{*/
    /*visibility: hidden;*/
/*}*/

.ConfirmVisible{
    width: 50%;
    height: 30%;
    position:absolute;
    top: 30%;
    left: 25%;
    background-color: rgba(0, 0, 0, 0.62);
    color: #fff;
}

.UserAddedCarsContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

/*    select options     */
.UserAddedCarsSelector {
    box-sizing: content-box;
    width: 50%;
    font-size: 16px;
    padding: 15px;
    background-color: #ebf5f5;
    color: #8a97a0;
    border: none;
    box-shadow: 0 0 5px rgba(73, 78, 92, 0.45);
    outline: none;
}

 /*   input fields       */
.UserAddedInput {
    width: 50%;
    font-size: 16px;
    padding: 15px;
    background-color: #ebf5f5;
    color: #8a97a0;
    border: none;
    box-shadow: 0 0 5px rgba(73, 78, 92, 0.45);
}

input:focus {
    outline: none;
}

.UserAddedCarsBtn {
    padding: 20px;
    width: fit-content;
    color: #FFF;
    background-color: #0B1152;
    font-size: 24px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s;
}

.UserAddedCarsBtn:hover {
    background-color: rgba(14, 18, 89, 0.9);
    transition: all .4s;
}