.ConfirmScreen{
    /*visibility:hidden;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position:absolute;
    top: 20%;
    left: 25%;
    min-width: 50%;
    min-height: 30%;
    background-color: rgba(11, 17, 82, 0.76);
    color: #fff;
    visibility: visible;
    border-radius: 5px;
    box-shadow: 0 20px 10px 5px #0b1139;
}

.ConfirmScreenVisible{

}

.UserAddedCarsContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

/*    select options     */
.UserAddedCarsSelector {
    box-sizing: content-box;
    width: 50%;
    font-size: 16px;
    padding: 15px;
    background-color: #ebf5f5;
    color: #8a97a0;
    border: none;
    box-shadow: 0 0 5px rgba(73, 78, 92, 0.45);
    outline: none;
}

 /*   input fields       */
.UserAddedInput {
    width: 50%;
    font-size: 16px;
    padding: 15px;
    background-color: #ebf5f5;
    color: #8a97a0;
    border: none;
    box-shadow: 0 0 5px rgba(73, 78, 92, 0.45);
}

input:focus {
    outline: none;
}

.UserAddedCarsBtn {
    padding: 20px;
    width: fit-content;
    color: #FFF;
    background-color: #0B1152;
    font-size: 24px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s;
    text-decoration: none;
}

.UserAddedCarsBtnConfirm{
    padding: 20px;
    width: fit-content;
    color: #0b1139;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    border: 1px solid #0b1139;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s;
    text-decoration: none;
}

.UserAddedCarsBtn:hover {
    background-color: rgba(14, 18, 89, 0.9);
    transition: all .4s;
}