.UserAddedCarsContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.UserAddedCarsSelector{
width:40%;
    height:3rem;
    background-color: #0b1259;
    color: #ffffff;
}

.UserAddedCarsBtn{
    padding: 20px;
    width: fit-content;
    color: #FFF;
    background-color: #0B1152;
    font-size: 24px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s;

}

.UserAddedCarsBtn:hover {
    background-color: rgba(14, 18, 89, 0.9);
    transition: all .4s;

}
/*.UserAddedInput {*/
    /*padding: 10px 10px 40px 10px;*/
    /*height: 52px;*/
    /*position: relative;*/
    /*text-align: center;*/
/*}*/


.UserAddedInput {

    width: 50%;
    font-size: 16px;
    padding: 15px;
    background-color: #ebf5f5;
    color: #8a97a0;
    border: none;
    box-shadow: 0 0 5px rgba(73, 78, 92, 0.45);
}

input:focus {
    outline: none;
}

.UserAddedCarsConfirmation{
    /*border: 1px black solid;*/
    width: 50%;
    position:absolute;
    top: 30%;
    left: 30%;
    background-color: rgba(0, 0, 0, 0.62);
    color: #fff;
}
.carYear{

}