.rentsum {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(24, 48, 255, 0.08);
    border-radius: 15px;
    position: relative;
}

.rentsumform {
    align-self: left;
    width: 50%;
}

.rentmap {
    align-self: right;
    width: 45%;
    height: 90%;
    position: absolute;
    right: 3%;
    top: 5%
}

.ButtonClearDates {
    width: 35vw;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .CarType {
        width: 98%;
        height: auto;
    }

    .rentsum {
        flex-direction: column;
        width: 98%;
    }

    .rentsumform {
        align-self: center;
        width: 90%;
    }

    .rentmap {
        position: initial !important;

    }

    .ButtonClearDates {
        width: 100%;
    }
}