.react-datepicker-wrapper,
.react-datepicker__input-container {
    display: block;
}

.datePicker__container {
    /*box-sizing: border-box;*/
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.datePicker__container__ReservationConfirm {
    display: block;
    /*text-align: center;*/
}

.RentDateForm,
.RentDateForm__ReservationConfirm,
.RentDateForm__ReservationConfirm__Disabled {
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    padding: 15px;
    width: 38vw;
    margin: 20px auto;
    background-color: #ebf5f5;
    color: #8a97a0;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(73, 78, 92, 0.45);
}

.RentDateForm__ReservationConfirm,
.RentDateForm__ReservationConfirm__Disabled {
    width: 35vw;
}

.RentDateForm__ReservationConfirm__Disabled {
    background-color: #aaa;
}

.RentDateForm__ReservationConfirm__Disabled::placeholder {
    color: #fff;
}

.CalendarDateTo {
    clear: left;
    background: #f0f0f0;
    color: #000;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid #aeaeae;
    padding: 5px 0;
}

@media screen and (max-width: 768px) {
    .datePicker__container {
        width: 98%;
    }

    .RentDateForm {
        width: 46vw;
    }

    .RentDateForm__ReservationConfirm {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .datePicker__container {
        display: block;
        margin: 0 auto;
        /*width: 98%;*/
    }

    .RentDateForm {
        margin: 12px auto;
        width: 100%;
    }
}