.datePicker__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px auto;
    text-align: center;
}

.RentDateForm {
    font-size: 16px;
    padding: 15px;
    margin: 20px 0;
    background-color: #ebf5f5;
    color: #8a97a0;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(73, 78, 92, 0.45);
}

.CalendarDateTo {
    clear: left;
    background: #f0f0f0;
    color: #000;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid #aeaeae;
    padding: 5px 0;
}

.PlaceContainer {
    text-align: center;
}