.menu__container {
    background-color: #7A3339;
    display: flex;
    width: 100%;
    height: 70px;
    color: white;
    margin-bottom: 5rem;
}

.nav__menu {
    width: 100%;
}

.menu__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-family: Nunito, sans-serif;;
    font-size: 2em;
    letter-spacing: 0.4rem;
}

.menu__button a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.menu__button a:hover {
    text-decoration: none;
    font-weight: bold;
    color: lightgray;
}

.menu__button a:focus {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #3B417A;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.menu__button.active a:focus {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #3B417A;
    height: 70px;
    width: 100%;
    text-align: center;

}


