.menu__container {
    background-color: #1E0255;
    display: flex;
    width: 100%;
    height: 50px;
    color: white;
    padding: 1.1rem;
}

.nav__menu {
    width: 100%;
}

.menu__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49%;
    height: 100%;
    font-family: Nunito, sans-serif;;
    font-size: 2em;
}

.menu__button a {
    text-decoration: none;
    font-weight: bold;
    color: #CEF3FF;
}


