.menu__container {
    background-color: #0B1152;
    display: flex;
    width: 100%;
    height: 70px;
    color: white;
    margin-bottom: 5rem;
}

.nav__menu {
    width: 100%;
}

.menu__button {
    background-color: #0B1152;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-family: Nunito, sans-serif;;
    font-size: 2em;
    letter-spacing: 0.4rem;
}

.menu__button {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.menu__button:hover {
    text-decoration: none;
    font-weight: bold;
    color: lightgray;
}

.menu__button:focus  {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #3B417A;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu__button.active {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #3B417A;
    height: 70px;

    text-align: center;

}


@media screen and (max-width: 768px){
    .menu__button {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 550px){
    .menu__button {
        font-size: 0.8em;
        letter-spacing: 0.2rem;
    }
}