
.CarFeatures {
    background-color: #0B1152;
    height: auto;
    width: 80%;
    color: white;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;
    border-radius: 15px;
    text-align: center;
}

.CarFeatures p {
    padding: 15px 20px;
    width: 220px;
}

@media screen and (max-width: 768px) {
    .CarFeatures {
        width: 98%;
    }
}

@media screen and (max-width: 650px) {
    .CarFeatures {

    }

    .CarFeatures p {
        font-size: 20px;
        padding: 5px 20px;
    }
}
