
.CarFeatures {
    background-color: #0B1152;
    height: auto;
    width: 600px;
    color: white;
    font-size: 20px;
    justify-content: space-around;
    margin: 20px auto;
    border-radius: 15px;
    text-align: center;
}

.CarFeaturesOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.CarFeatures p {
    padding: 15px 20px;
    width: 200px;
}
.CarFeatures button {
    padding: 10px;
    margin: 5px 5px 20px;
    color: #FFF;
    background-color: #0B1152;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .CarFeatures {
        width: 70vw;
    }
    .CarFeatures p {
        width: 140px;
    }
}

/*@media screen and (max-width: 650px) {*/

    /*.CarFeatures p {*/
        /*font-size: 20px;*/
        /*padding: 5px 20px;*/
    /*}*/
/*}*/
