.SignUpForm {
    text-align: center;
}
.SignUpInput  {
    width: 30%;
    font-size: 16px;
    padding: 15px;
    background-color: #ebf5f5;
    color: #8a97a0;
    border: none;
    box-shadow: 0 0 5px rgba(73, 78, 92, 0.45);
    margin-bottom: 30px;
}

.SignUpButton {
    background-color: #0b1259;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.5em;
    border-radius: 5%;
    transition: color 0.2s;
}

.SignUpText {
    margin-top: 50px;
    font-size: 1.5rem;
}