.SignOutButton {
    padding: 10px;
    margin: 5px;
    width: 150px;
    color: #FFF;
    background-color: rgba(89, 0, 8, 0.8);
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s;
}

.SignOutButton:hover {
    background-color: indianred;
    transition: all .4s;
}

.SignOutButtonContainer {
    text-align: right;
}

.SignInAs {
    display: inline-block;
    padding: 5px 5px;
}