.ButtonBlue,
.ButtonRed {
    padding: 13px;
    margin: 20px 1rem;
    width: 150px;
    color: #FFF;
    background-color: #0B1152;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s;
}

.ButtonBlue:hover {
    background-color: rgba(14, 18, 89, 0.9);
    transition: all .4s;
}

.ButtonRed {
    background-color: rgba(89, 0, 8, 0.8);
}

.ButtonRed:hover {
    background-color: rgba(89, 0, 8, 0.9);
    transition: all .4s;
}

.ReservationConfirmButtonsContainer {
    text-align: center;
    margin: 30px 10px;
}

@media screen and (max-width: 650px) {
    .ButtonBlue,
    .ButtonRed {
        font-size: 20px;
        width: 120px;

    }
}