#rent{
    background-color: #0b1259;
    color: #fff;
    padding: 3px 5px;
    font-size: 1.2rem;
    border-radius: 5%;
    transition: color 0.2s;
}
#rent:hover{
    background-color: #fff;
    color: #0b1259;
    transition: color 0.2s;
}
